extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote NexTop es una agencia de viajes con mas de 14 años de trayectoria en el mercado, caracterizada por el buen servicio y oferta de productos turísticos de calidad en destinos nacionales e internacionales, trabajando con un equipo de más de 60 personas comprometido con cumplir los sueños de viaje de nuestros clientes. Coordinamos todos los servicios de un paquete turístico, como tiquetes aéreos, alojamiento, alimentación, traslados, tours, asistencias médicas, alquiler de autos, cruceros. entre otros. Igualmente gestionamos todos los servicios de viajes corporativos, convenciones, viajes de incentivos y eventos.
                
                h1 Misión
                p Inspirar y hacer vivir experiencias de viaje memorables.

                h1 Visión
                p Ser una empresa sólida, confiable y socialmente responsable, reconocida por sus clientes por la calidad y el servicio. Con un equipo humano profesional, amable y feliz.

                h2 Política de calidad
                p Colreservas se compromete a mantener la confiabilidad, accesibilidad en el servicio, la calidad de sus productos, la investigación en nuevas tecnologías y el crecimiento. Igualmente a desarrollar la capacidad de satisfacer al cliente, procesos eficaces, la gestión de sistemas y financiera, las alianzas con proveedores, a promover la realización personal y profesional del recurso humano, los valores organizacionales y programas sociales. Así como a mejorar el posicionamiento de marca. Además es una empresa comprometida con la implementación y mantenimiento del sistema de seguridad y salud en el trabajo.

                h2 Política de sostenibilidad
                p Colreservas es una empresa comprometida con el desarrollo sostenible, que respeta el patrimonio natural y cultural de cada país, promoviendo con clientes, proveedores y empleados prácticas responsables con el medio ambiente, comunidades locales y patrimonio cultural. Así mismo apoya el desarrollo económico de la región donde opera y de los destinos que comercializa.

                h2 Política de seguridad y salud en el trabajo
                p Es política de NEXTOP S.A, en sus operaciones de diseño, asesoría y venta de paquetes turísticos, así como funciones administrativas en todas las sedes, reconocer la importancia del capital humano y comprometerse al más alto nivel de la organización con la implementación y mejoramiento continuo a través del Sistema de Gestión de Seguridad y Salud en el Trabajo, el cual va encaminado a promover y mantener el bienestar físico, mental y social de los trabajadores y demás partes interesadas, ofreciendo lugares de trabajo seguros y adecuados.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4") 
                    h2.mb-4 Seguridad
                    p Contamos con Respaldo "DIRECTO" del ministerio de Turismo | info:6436-6437
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4") 
                    h2.mb-4 Destinos
                    p Cantidad de destinos tanto Nacional como Internacionalmente
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono seguridad", class="img-fluid mb-4") 
                    h2.mb-4 Precios
                    p Mejores precios del mercado COTIZEN YAAAA!!!        